*{
    margin:0;
    padding:0;
}
.wrapper {
    /* height: 200px; */
    margin: 0 auto;
    /* border: 1px red solid; */
    width: 1040px
}

.content {
    /*margin: 0px;
    padding: 0px;
    width: 88%;
    /* height: 420px; */
    /* border: 1px red solid; 
    margin: 0 auto;*/
    min-height: 420px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 发布话题 */
.article {
    /* width: 675px; */
    /* border: 1px red solid; */
    /* float: left; */
    position: relative;
}

/* 图标区 */
.article .isay-links {
    position: relative;
    z-index: 2;
    /* font-size: 0; */
    height: 30px;
    line-height: 30px;
    margin-left: -20px;
    /* border: 1px red solid; */
    /* display: inline-block; */
}

.article .isay li {
    float: left;
    font-size: 14px;
    display: inline-block;
    padding-left: 22px;
    /* margin-right: 18px; */
    list-style: none;
    vertical-align: middle;
}

.article .isay li a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

.article .isay li a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

.article .isay-links img {
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: middle;
}

.article .form-control {
    position: relative;
}

#scan {
    position: absolute;
    top: 46px;
    right: 30px;
}

/* 已经评论过的显示 */
.comment {
    /* border: 1px red solid; */
    height: 110px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.comment .comment-img img {
    width: 48px;
    height: 48px;
    margin-top: 10px;
    float: left;
}

.comment .mes {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    color: #9d9d9d;
}

.comment .mes span {
    margin-right: 10px;
    font-size: 13px;
}

.comment .mes a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

.comment .mes a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

/* 页码区 */
.isay .page {
    /* border: 1px red solid; */
    text-align: center;
    font-size: 16px;

}

.isay .page .thispage {
    color: #fff;
    background: #83BF73;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* 前页 */
.isay .page .prev {
    margin-right: 10px;
    font: 15px Arial, Helvetica, sans-serif;
    color: #aaa;
}

/* 后页 */
.isay .next {
    display: inline-block;
    font: 15px Arial, Helvetica, sans-serif;
    color: #aaa;
}

.isay .page .ye {
    /* margin-right: 7px; */
    display: inline-block;
    width: 20px;
    height: 20px;
}

.isay .page a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

.isay .page a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

.aside {
    padding-top: 28px;
    /* border: 1px red solid; */

}

/* 豆瓣正在发生 */
.notify-mod {
    margin: 0 0 20px;
    padding: 16px 0 16px 18px;
    line-height: 1.5;
    background: #f2f7f6;
    border-radius: 4px;
    font-size: 13px;
    list-style: none;
    line-height: 1.5;
    /* border: 1px red solid; */
}

.notify-mod h2 {
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.notify-mod ul {
    list-style: none;
    margin-left: -10px;
    font-size: 14px;
    color: #cedcd9;
    margin-left: -40px;
}

.notify-mod li {
    margin-top: 8px;
}

.notify-mod a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

.notify-mod a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

/* 豆瓣时间 */
.bean-time {
    /* width: 300px; */
    height: 262px;
    /* border: 1px red solid; */
}

.bean-time h2 {
    font-size: 16px;
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.bean-time img {
    width: 80px;
    height: 111px;
    margin-bottom: 10px;
}

.bean-time .time-list ul {
    /* width: 300px; */
    /* border: 1px red solid; */

}

.bean-time .time-list li {
    list-style: none;
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
    width: 90px;
    /* border: 1px red solid; */
    vertical-align: top;
    text-align: center;
    font-size: 13px;
}

.bean-time .left {

    margin-left: -41px;
}

.bean-time .right {
    /* float: left; */
}

.bean-time .title {
    color: #333333;
    font-size: 13px;
    line-height: 10px;
    text-align: center;
    margin-bottom: 10px;

}

.bean-time a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

.bean-time a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

.bean-time .type {
    color: #999999;
    line-height: 1;
    margin-top: 10px;
    display: block;
}

/* 豆瓣话题 */
.mod {
    margin-top: 20px;
    /* border: 1px red solid; */
}

.mod h2 {
    font-size: 16px;
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;

}

.mod .topics {
    list-style: none;
    line-height: 1;
    margin-bottom: 15px;
    margin-left: -40px;
    font-size: 14px;
}

.mod .look {
    margin-top: 10px;
    display: block;
    font-size: 13px;
    line-height: 1;
    color: #aaaaaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin-bottom: 15px; */
}

.mod a:active {
    color: #fff;
    text-decoration: none;
    background: #f93;
}

.mod a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

/* 书签 */
.book {
    margin-top: 20px;
    /* border: 1px red solid; */
    padding: 10px;
    background-color: #f9f9f9;
    clear: both;
    overflow: hidden;
}

.book img {
    width: 96px;
    height: 80px;
    /* border: 1px red solid; */
}

.book .director {
    /* border: 1px red solid; */
    width: 169px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.book .director .title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.book .director .title a {
    color: #669;
    text-decoration: none;
}

.book .director .author {
    font-size: 12px;
    line-height: 1;
    color: #999;
}

a:visited {
    color: #669;
    text-decoration: none;
}

a:link {
    color: #37a;
    text-decoration: none;
}